groq

langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-text-splitters==0.3.11

langchain-openai==0.3.35
langchain-ollama==0.3.0

langgraph>=0.2.0
langgraph-sdk>=0.2.0
langgraph-prebuilt

deepeval

pydantic>=2.7.4
pydantic-settings>=2.0.0
chromadb
tiktoken
redis
langchain_openai
requests>=2.32.5
beautifulsoup4
tavily-python
python-dotenv
loguru
pytest
langchain_groq
json-repair
langfuse
fastapi
uvicorn[standard]
sse-starlette
config
chromadb==1.4.1